# Data Science Tools and Ecosystems

*In this notebook, Data Science Tools and Ecosystems are summarized*

Objectives:
- List popular Languages for Data Science
- Practice expression evaluation in Jupyter
- List commonly used libraries for Data Science

1. R
2. Python
3. SQL

1. Pandas
2. Seaborn
3. TensorFlow

| Data Science Tools |
| -------------------|
|IBM Watson Studio|
|IBM AutoAI|
|IBM Watson OpenScale|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [31]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [33]:
200/60

3.3333333333333335

## Author

Vanessa Kountakis